@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
body{
	font-family: "Zen Kaku Gothic Antique", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.powered{
	font-size:0.8rem;
}
.powered a{
	text-decoration:none;
	color:black;
}
.info {
	text-align:right;
}
.row input{
	height:1.5rem;
	margin:auto;
	width:25%;
	text-align:right;
}
.logo a{
	text-decoration:none;
	color:black;
}
#post {
	margin-left:0px;
}
#posts h4{
	padding-left:0px;
	text-align:left;
}
#posts small{
	color:gray;
	padding-left:0.6rem;
}
#posts a{
	text-decoration:none;
	color:black;
}
.info a{
	text-decoration:none;
	color:black;
}
#posts a:hover{
	text-decoration:underline;
	text-decoration-color:blue;
}
